.headline {
    font-size: var(--text-step--1);
}

.headline > .button:nth-child(2) {
  font-size: var(--text-step--1);
}

.headline.repel {
    --gutter: var(--spacing-s-l);
}

.headline.repel:not(:has(span)) {
    --gutter: 0;
}