:root {
  /* Colors */
  --color-primary: #032126;
  --color-dark: #000405;
  --color-dark-glare: #375257;
  --color-secondary: #A7D5B8;
  --color-light: #E8ECE9;
  --color-error: #ba1a1a;
  --color-mid: rgb(from var(--color-dark) r g b / 0.5);
  
  /* Font Family */
  --font-base: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", system-ui, sans-serif;
  --font-display: "Space Grotesk", "Inter", "Arial", system-ui, sans-serif;
  --font-serif: "Noto Serif", "Merriweather", "Georgia", "Times New Roman", serif;
  --font-mono: "IBM Plex Mono", "DM Mono", "monospace";
  
  /* Font Weights */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
  
  /* Fluid Type Scale (Utopia-style) */
  --text-step--2: clamp(0.8889rem, 0.884rem + 0.02vw, 0.9rem);
  --text-step--1: clamp(1rem, 0.9452rem + 0.2247vw, 1.125rem);
  --text-step-0: clamp(1.125rem, 0.99rem + 0.68vw, 1.5rem);
  --text-step-1: clamp(1.25rem, 1.07rem + 0.91vw, 1.75rem);
  --text-step-2: clamp(1.5rem, 1.32rem + 0.91vw, 2.0rem);
  --text-step-3: clamp(1.75rem, 1.57rem + 0.91vw, 2.25rem);
  --text-step-4: clamp(2rem, 1.73rem + 1.36vw, 2.75rem);
  --text-step-5: clamp(2.5rem, 2.04rem + 2.27vw, 3.5rem);
  
  /* Line Height */
  --leading-micro: 0.85;
  --leading-flat: 1;
  --leading-fine: 1.2; 
  --leading-standard: 1.4;
  --leading-loose: 1.7;

  /* Fluid Spacing Scale (Utopia-style) */
  --spacing-3xs: clamp(0.25rem, 0.23rem + 0.11vw, 0.31rem);
  --spacing-2xs: clamp(0.625rem, 0.57rem + 0.34vw, 0.75rem);
  --spacing-xs: clamp(0.75rem, 0.68rem + 0.34vw, 0.94rem);
  --spacing-s: clamp(1rem, 0.91rem + 0.45vw, 1.25rem);
  --spacing-m: clamp(1.5rem, 1.36rem + 0.68vw, 1.88rem);
  --spacing-l: clamp(2rem, 1.82rem + 0.91vw, 2.5rem);
  --spacing-xl: clamp(3rem, 2.73rem + 1.36vw, 3.75rem);
  --spacing-2xl: clamp(4rem, 3.64rem + 1.82vw, 5rem);
  /* Custom pairs */
  --spacing-s-m: clamp(1rem, 0.5455rem + 2.2727vw, 2.25rem);
  --spacing-s-l: clamp(1rem, 0.2727rem + 3.6364vw, 3rem);
  --spacing-m-xl: clamp(1.5rem, 0.6818rem + 4.0909vw, 3.75rem);
  --spacing-l-2xl: clamp(2rem, 0.9091rem + 5.4545vw, 5rem);
  
  /* Viewports */
  --breakpoint-sm: 390px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 940px;
  --breakpoint-xl: 1350px;

}

@theme inline {
  /* Colors */
  --color-primary: var(--color-primary);
  --color-dark: var(--color-dark);
  --color-dark-glare: var(--color-dark-glare);
  --color-secondary: var(--color-secondary);
  --color-light: var(--color-light);
  --color-error: var(--color-error);
  --color-mid: var(--color-mid);
  
  /* Font Family */
  --font-base: var(--font-base);
  --font-display: var(--font-display);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  /* Font Weights */
  --font-weight-regular: var(--font-regular);
  --font-weight-medium: var(--font-medium);
  --font-weight-bold: var(--font-bold);
  --font-weight-black: var(--font-black);

  /* Fluid Type Scale (Utopia-style) */
  --text-step--2: var(--text-step--2);
  --text-step--1: var(--text-step--1);
  --text-step-0: var(--text-step-0);
  --text-step-1: var(--text-step-1);
  --text-step-2: var(--text-step-2);
  --text-step-3: var(--text-step-3);
  --text-step-4: var(--text-step-4);
  --text-step-5: var(--text-step-5);
  
  /* Line Height */
  --leading-micro: var(--leading-micro);
  --leading-flat: var(--leading-flat);
  --leading-fine: var(--leading-fine);
  --leading-standard: var(--leading-standard);
  --leading-loose: var(--leading-loose);

  /* Fluid Spacing Scale (Utopia-style) */
  --spacing-3xs: var(--spacing-3xs);
  --spacing-2xs: var(--spacing-2xs);
  --spacing-xs: var(--spacing-xs);
  --spacing-s: var(--spacing-s);
  --spacing-m: var(--spacing-m);
  --spacing-l: var(--spacing-l);
  --spacing-xl: var(--spacing-xl);
  --spacing-2xl: var(--spacing-2xl);
  /* Custom pairs */
  --spacing-s-m: var(--spacing-s-m);
  --spacing-s-l: var(--spacing-s-l);
  --spacing-m-xl: var(--spacing-m-xl);
  --spacing-l-2xl: var(--spacing-l-2xl);
}