:root {
  --gutter: var(--spacing-s-l);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --stroke-width: 1px;
  --stroke: var(--stroke-width) dashed var(--color-dark);
  --stroke-solid: var(--stroke-width) solid var(--color-dark);
  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;
  --leading-standard: 1.5;
  --uppercase-kerning: 0.04ch;
}